<!DOCTYPE html>
<html>

<head>
    <title>Clientes</title>
    <meta charset="utf-8">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../Public/css/Photon/photon.css" rel="stylesheet">
    <link rel="stylesheet" href="../Public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Electron Javascript -->
    <!-- <script src="app.js" charset="utf-8"></script> -->
</head>

<body>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title">Meirelles Tecnologia</h1>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar">
                    <nav class="nav-group">
                        <img src="../Public/assets/logo-empresa.png" alt="" width="100%">

                        <a class="nav-group-item active"  href="index.html">
                            <span class="icon icon-user"></span>
                            Clientes
                        </a>
                        <a class="nav-group-item" href="produtos.html">
                            <span class="icon icon-bag"></span>
                            Produtos
                        </a>
                        <a class="nav-group-item" href="vendas.html">
                            <span class="icon icon-basket"></span>
                            Vendas
                        </a>
                    </nav>
                </div>
                <div class="pane">
                    <div class="cadastro">
                        <button type="button" @click="createClient()" class="btn btn-dark icon icon-plus"> Cadastrar Cliente</button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Telefone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="cliente in clientes">
                                <td>{{cliente.nome}}</td>
                                <td>{{cliente.cpf}}</td>
                                <td>{{cliente.telefone}}</td>
                                <td type="button" class="btn btn-dark icon icon-pencil" @click="editClient(cliente)"> Editar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 class="title">Copyright &copy 2022 - Switch SoftwareHouse</h1>
        </footer>
    </div>
    <div id="modal" v-if="openModal">
        <div class="wrap">
            <form id="cadastro-cliente" action="" class="pane-body">
                <h3 v-if="mode == 'cadastro'"><Center>Cadastro de Cliente</Center></h3>
                <h3 v-if="mode == 'edicao'"><Center>Editar Cliente</Center></h3>
                <div class="form-group">
                    <label>Insira o Nome:</label>
                    <input type="text" class="form-control" id="nome" v-model="client.nome" placeholder="Digite aqui o Nome">
                </div>
                <div class="form-group">
                    <label>Insira o CPF:</label>
                    <input type="text" oninput="_mascaraCpf(this)" class="form-control" id="cpf" v-model="client.cpf" placeholder="Ex 000.000.000-00">
                </div>
                <div class="form-group">
                    <label>Insira o Telefone:</label>
                    <input type="text" oninput="_mascaraTel(this)" class="form-control" id="telefone" v-model="client.telefone" placeholder="Ex (00) 00000-0000">
                </div>
                <Center>
                    <button class="btn btn-positive icon icon-check" @click="clientStoreOrUpdate" type="button"> Salvar</button>
                    <button class="btn btn-negative icon icon-cancel" @click="openModal=false" type="button" > Fechar</button>
                </Center>
            </form>
        </div>
    </div>
</body>

<script src="../Controller/clientes.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>