<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../Public/css/Photon/photon.css" rel="stylesheet">
    <link rel="stylesheet" href="../Public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title">Meirelles Tecnologia</h1>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar">
                    <nav class="nav-group">
                        <img src="../Public/assets/logo-empresa.png" alt="" width="100%">

                        <a class="nav-group-item" href="index.html">
                            <span class="icon icon-user"></span>
                            Clientes
                        </a>
                        <a class="nav-group-item" href="produtos.html">
                            <span class="icon icon-bag"></span>
                            Produtos
                        </a>
                        <a class="nav-group-item active" href="vendas.html">
                            <span class="icon icon-basket"></span>
                            Vendas
                        </a>
                    </nav>
                </div>
                <div class="pane">
                    <div class="cadastro">
                        <button type="button" @click="createSale()" class="btn btn-dark icon icon-plus"> Cadastrar Venda</button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Produto</th>
                                <th>Preço Un.</th>
                                <th>Qtd</th>
                                <th>Preço Tot.</th>
                                <th>Forma Pag.</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="venda in vendas">
                                <td>{{venda.cliente}}</td>
                                <td>{{venda.produto}}</td>
                                <td>R$ {{venda.preco}}</td>
                                <td>{{venda.qtd}}</td>
                                <td>R$ {{venda.qtd * venda.preco}}</td>
                                <td>{{venda.modo}}</td> 
                                <td type="button" class="btn btn-dark icon icon-pencil" @click="editSale(venda)"> Editar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 class="title">Copyright &copy 2022 - Switch SoftwareHouse</h1>
        </footer>
    </div>
    <div id="modal" v-if="openModal">
        <div class="wrap">
            <form id="cadastro-cliente" action="" class="pane-body">
                <h3 v-if="mode == 'cadastro'">
                    <Center> Cadastro de Venda</Center>
                </h3>
                <h3 v-if="mode == 'edicao'">
                    <Center> Edição de Venda</Center>
                </h3>
                <div class="form-group">
                    <label >Selecione o Cliente: </label>
                    <select v-model="sale.cliente" class="form-control">
                        <option value="{{c.nome}}" selected v-for="c in clientes">{{c.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label >Selecione o Produto: </label>
                    <select v-model="sale.produto" class="form-control">
                        <option value="{{p.nome}}" selected v-for="p in produtos">{{p.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label >Informe a Quantidade: </label>
                    <input type="number" class="form-control" v-model="sale.qtd" placeholder="Quantidade">
                </div>
                <div class="form-group">
                    <label >Informe o Modo de Pagamento: </label>
                    <select v-model="sale.modo" class="form-control">
                        <option value="Dinheiro" selected>Dinheiro</option>
                        <option value="Pix">Pix</option>
                        <option value="Credito">Crédito</option>
                        <option value="Debito">Débito</option>
                    </select>
                </div>
                <Center>
                    <button class="btn btn-positive icon icon-check" @click="saleStoreOrUpdate" type="button"> Salvar</button>
                    <button class="btn btn-negative icon icon-cancel" @click="closeNotSaving(vendas)" type="button" > Fechar</button>
                </Center>
            </form>
        </div>
    </div>

</body>
<script src="../Controller/vendas.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>